@import "../../../assets/scss/setup/variables";

:host {

  &:has(.logo) {
    color: rgb(106, 240, 73);
  }

  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #ffffff3b;
  backdrop-filter: blur(20px);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      display: flex;

      :not(:last-child) {
        margin-inline-end: 1rem;
      }

      >* {
        text-decoration: none;
      }

      >* {
        &.active {
          text-decoration: underline;
          color: aqua;
        }
      }
    }
  }
}