@import "../../../assets/scss/setup/variables";

:host {
    margin-bottom: 1rem;
    padding: 0 40px;
  }
  

  input {
    // width: 100%;
    outline: none;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #87fd58;
    transition: 0.3s;
    color: $clr1;
    &:hover {
      // box-shadow: 0 0 0 5px rgba($clr1, 30%);
    }
    &::placeholder {
      color: $clr4;
    }
    &:focus {
      text-decoration: none;
      // box-shadow: 0 0 0 5px rgba($clr1, 30%), 0 0 0 1px rgba($clr1, 100%);
    }
  }