<div *ngIf="contact" class="contact-edit">
    <h1>{{ contact._id ? "Edit" : "Add" }} Contact</h1>
    <form (ngSubmit)="onAddContact()">
      <label for="name">Name</label>
      <input
        [(ngModel)]="contact.name"
        name="name"
        type="text"
        placeholder="Enter name"
        id="name"
      />
      <label for="email">Email</label>
      <input
        [(ngModel)]="contact.email"
        name="email"
        type="email"
        placeholder="Enter email"
        id="email"
      />
      <label for="phone">Phone</label>
      <input
        [(ngModel)]="contact.phone"
        name="phone"
        type="tel"
        placeholder="Enter phone"
        id="phone"
      />
      <div class="actions">
        <button class="btn primary">Save</button>
        <button (click)="onCancel()" type="button" class="btn outline">
          Cancel
        </button>
      </div>
    </form>
  </div>
  