@import "../../../assets/scss/setup/variables";
@import "../../../assets/scss/setup/functions";

.contact-preview {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff0ea;
  
    &:hover .actions {
      opacity: 1;
    }
    img {
      max-width: 90px;
    }
    .details {
      display: inline-flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
    .actions {
      position: absolute;
      top: 10px;
      right: 10px;
      gap: 0.45rem;
      opacity: 0;
      button {
        border-radius: 155px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        &:hover {
          background-color: $clr2-dark;
        }
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
        .mat-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .small-icon {
          font-size: 16px;
        }
      }
    }
  }
  
