@import "../../../assets/scss/setup/variables";
@import "../../../assets/scss/setup/functions";

.contact-preview {
    display: grid;
    grid-template-areas: 
        "avatar details actions";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem;
    margin: 0;
    border-radius: 0.5rem;
    background-color: #fff0ea;
    gap: 1rem;
    position: relative;

    &:hover .actions {
        opacity: 1;
    }

    img {
        grid-area: avatar;
        max-width: 80px;
        border-radius: 50%;
    }

    .details {
        grid-area: details;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .name {
            margin: 0;
            font-size: 1.25rem;
            font-weight: bold;
            color: $clr-primary;
        }
    }

    .actions {
        grid-area: actions;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        opacity: 0;
        // margin-left: -20px;
        transition: opacity 0.3s ease-in-out;
        // position: absolute; 

        button {
            border: none;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            padding: 0;

            &:hover {
                background-color: $clr2-dark;
            }

            .mat-icon {
                display: flex;
                align-items: center;
                justify-content: center;

                .small-icon {
                    font-size: 18px;
                }
            }
        }

    }
}



// @media screen and (max-width: 480px) {
//   li.contact-preview {
//     height: 120px;
//     max-width: 300px;
//     padding: 0;
//   }
// }