.main-layout {
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
  background: black;

  @include for-narrow-layout {
    // padding: 0 vars.$mobile-layout-padding;
    padding: 0 $mobile-layout-padding;
  }

  @include for-wide-layout {
    // padding: 0 vars.$normal-layout-padding;
    padding: 0 $normal-layout-padding;
  }

  @include for-large-layout {
    // padding: 0 vars.$wide-layout-padding;
    max-width: $primary-max-width;
  }
}

// GRIDS
.simple-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 30px;
}