<section class="contact-index">
    <section class="contacts">
      <div class="intro flex align-center">
        <!-- <h1 style="padding-left: 40px;">Contacts</h1> -->
        <a class="add-contact-btn btn primary" routerLink="/contact/edit"
          >Add Contact</a>
      </div>
      <!-- <contact-sort 
      [contacts]="contacts" 
      (sortedContacts)="onSortedContacts($event)">
    </contact-sort> -->
      <app-contact-filter  class="main-layout"/>
      <app-contact-list
        (deleteContact)="onDeleteContact($event)"
        [contacts]="contacts$ | async"
      ></app-contact-list>
    </section>
  </section>
  
  <router-outlet></router-outlet>
  