<section class="contact-index">
    <section class="contacts">
      <div class="intro flex space-between main-layout">
        <div class="flex space-between" style="padding-bottom: 40px !important;">
    <a class="add-contact-btn btn primary" routerLink="/contact/edit">Add Contact</a>
      </div>
      <app-contact-filter  class=""/>
    </div>
      <app-contact-list
        (deleteContact)="onDeleteContact($event)"
        [contacts]="contacts$ | async"
      ></app-contact-list>
    </section>
  </section>
  
  <router-outlet></router-outlet>
  